main > .container-banner{
    background-color: #F7F7F7;
    padding: 100px 0 100px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    column-gap: 20px;
}
main > .container-banner > .textos{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
main > .container-banner > .textos > h1{
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}