/* font-family: "Inter", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Montserrat", sans-serif; 
*/ 

body{
    margin: 0;
  }

  picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

a{
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 0 15px 0;
    bottom: 1px solid rgba(0, 0, 0, 0.23);
}

header > .container-logo > a > .logo-portorepair-header{
    margin-left: 20px;
}

header > .container-logo > a > .logo-portorepair-header > img{
    width: 250px;
    height: 39px;
}

header > .container-menu{
    flex: 1;
    display: flex;
    justify-content: center;
}

header > .container-menu > .menu{
    border-radius: 10px;
    background-color: #0046BF;
}