main > .container-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.banner{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    background-color: #EFF4EF;
    row-gap: 40px;

    .textos{
        display: flex;
        flex-direction: column;
    }
}