main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > .container > .card{
    display: flex;

    picture > img{
        width: 300px;
        height: 300px;
    }
    .lado-direito{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }   
    .lado-direito > p{
        color: #000;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    #redes-sociais > ul{
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        column-gap: 40px;
    }
    #redes-sociais > ul > li{
        transition: 0.3s;
    }
}
#redes-sociais > ul > li:hover{
    transform: scale(1.05);
}